<div
    class="custom-system-component-contents checkbox_key custom-system-component-root custom-system-field custom-system-field-root custom-system-field-full-size custom-system-checkbox"
    title="Checkbox tooltip">
    <label for="checkbox_key">Checkbox label edited</label>
    <input type="checkbox" id="checkbox_key" name="system.props.checkbox_key"/>
</div>
